body {
    background-color: #f0f0f0;
    color: #002776;
    font-family: 'Fredoka', sans-serif;
}

.fixed-button {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: bg-neutral;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.calculator {
    position: fixed;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}



@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.container.visible {
    opacity: 1;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: white;
}

  @keyframes colorChange {
    0% {
      color: #008C00; /* Vert Brésil */
    }
    33% {
      color: #FFCC00; /* Jaune Brésil */
    }
    66% {
      color: #0033A0; /* Bleu Brésil */
    }
    100% {
      color: #008C00; /* Retour au Vert Brésil */
    }
  }

  .text-brasil {
    animation: colorChange 3s infinite;
  }

